# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
.venv/
.env
*.ipynb_checkpoints

fikir.txt
*.pdf

# OS/editor
.DS_Store
*.swp
.idea
.vscode/

*.md 
!README.md

# Large raw artifacts (safety net)
# --- PUT GENERAL IGNORES FIRST ---
*.zip
*.npy
*.npz
*.pt
*.pth
*.png

# Training outputs & logs
# --- IGNORE CONTENTS, NOT THE FOLDER ---
runs/*
eval_*/

# --- RULES TO WHITELIST keepers/ FOLDER ---
!eval_v3_stoch/
eval_v3_stoch/*
!eval_v3_stoch/keepers/

# --- RULES TO WHITELIST model .zip FILES ---
!runs/ppo_grid_corridors_v3/
runs/ppo_grid_corridors_v3/*

# --- WHITELIST SPECIFIC FILES (EXCEPTIONS) ---
# The leading / anchors this to the root directory
!/montage_stoch.png
!eval_v3_stoch/keepers/*.png
!runs/ppo_grid_corridors_v3/ppo_grid_nomask_final.zip
!runs/ppo_grid_corridors_v3/best_model.zip
!runs/ppo_grid_corridors_v3/ppo_ckpt_404800_steps.zip
!runs/ppo_grid_corridors_v3/ppo_ckpt_1011008_steps.zip
!final/phase1_model.zip
!final/phase2_model.zip
